<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Who is the GOAT?</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="question">Who is the GOAT?</h1>
      <div class="field">
        <div class="center-line"></div>
        <div class="center-circle">
          <div
            class="circle-half left-half"
            onmouseover="showPlayerLabel('messi')"
            onmouseout="hidePlayerLabel('messi')"
            onclick="vote('messi')"
          ></div>
          <div
            class="circle-half right-half"
            onmouseover="showPlayerLabel('ronaldo')"
            onmouseout="hidePlayerLabel('ronaldo')"
            onclick="vote('ronaldo')"
          ></div>
        </div>
        <div class="center-dot"></div>
      </div>
      <div class="player-label-container">
        <span id="messi-label" class="player-label">MESSI</span>
        <span id="ronaldo-label" class="player-label">RONALDO</span>
      </div>
      <div class="vote-bar-container">
        <div class="messi-bar" style="width: 50%">
          <span class="percentage-text"></span>
        </div>
        <div class="ronaldo-bar" style="width: 50%">
          <span class="percentage-text"></span>
        </div>
      </div>
      <div class="vote-info-container">
        <span class="vote-info messi-votes">Messi: 0</span>
        <span class="vote-info total-votes">Total: 0</span>
        <span class="vote-info ronaldo-votes">Ronaldo: 0</span>
      </div>
    </div>

    <script>
      let messiVotes = parseInt("{{ messi_votes or 0 }}");
      let ronaldoVotes = parseInt("{{ ronaldo_votes or 0 }}");
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
